<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.saxsys.de/roo/xtext/example/somedsl/SomeDsl" 
       class = "de.saxsys.roo.xtext.example.somedsl.someDsl.SomeDslPackage"
       genModel = "de/saxsys/roo/xtext/example/somedsl/SomeDsl.genmodel" /> 
	
  </extension>





</plugin>
